<div class="foam">
    <img class="foam-bubbles left" src="/Content/themes/base/images/foam-bubbles-left.png" />
    <img class="ribbon" src="/Content/themes/base/images/pourcast-ribbon.png" />
    <img class="foam-bubbles right" src="/Content/themes/base/images/foam-bubbles-right.png" />
</div>

<div class="taps" data-bind="foreach: taps">
    <!-- ko oneComponent: 'tap' -->
    <!-- /ko -->
</div>


<div class="taps" data-bind="foreach: taps">
    <!-- ko manyComponents: 'tap' -->
    <!-- /ko -->
</div>