@using MongoDB.Bson
@using Newtonsoft.Json
@model IEnumerable<RightpointLabs.Pourcast.Domain.Events.StoredEvent>
<style type="text/css">
    .statusMessages {
        overflow: scroll;
        word-wrap: normal;
    }
</style>

<pre class="statusMessages" data-bind="foreach: statusMessages">
    <span><span data-bind="text: type"></span><span>: </span><span data-bind="text: json"></span></span><span data-bind="if: type == 'PictureTaken'">
<img data-bind="attr: { src: data.DataUrl}"/></span><span data-bind="if: type == 'PictureTaken' && data.OriginalDataUrl">
<img data-bind="attr: { src: data.OriginalDataUrl}" />
</span>
</pre>

@section Scripts {
    <script src="~/Scripts/libs/require.js"></script>
    <script type="text/javascript">
        requirejs.config({
            baseUrl: '/Scripts/libs/',
            paths: {
                app: '../app',
                jquery: 'jquery-2.1.0',
                TapViewModel: '../app/viewmodel/TapViewModel',
                ko: 'knockout-3.1.0',
                signalr: 'jquery.signalR-2.0.3',
                'signalr.hubs': '/signalr/hubs?'
            },
            shim: {
                jquery: { exports: '$' },
                signalr: { deps: ['jquery'] },
                'signalr.hubs': { deps: ['signalr'] }
            }
        });

        requirejs(['ko', 'app/events'], function(ko, events) {
            var vm = {
                statusMessages: ko.observableArray([])
            };

            var initialEvents = @(Html.Raw(JsonConvert.SerializeObject(Model.ToArray())));
            for (var i = 0; i < initialEvents.length; i++) {
                var e = initialEvents[i];
                var json = ko.toJSON(e.DomainEvent);
                if (e.TypeName == "PictureTaken") {
                    json = "....";
                }
                vm.statusMessages.push({ type: e.TypeName, json: json, data: e.DomainEvent });
            }

            var eventNames = ["BeerCreated", "BreweryCreated", "Heartbeat", "KegCreated", "KegEmptied", "KegRemovedFromTap", "KegTapped", "LogMessage", "Pouring", "PourStarted", "PourStopped", "TapCreated", "KegTemperatureChanged", "PictureTaken", "PictureRequested"];
            for (var i in eventNames) {
                (function() {
                    var eventName = eventNames[i];
                    events.on(eventName, function (e) {
                        var json = ko.toJSON(e);
                        if (eventName == "PictureTaken") {
                            json = "....";
                        }
                        vm.statusMessages.unshift({ type: eventName, json: json, data: e });
                        while (vm.statusMessages().length > 100) {
                            vm.statusMessages.pop();
                        }
                    });
                })();
            }
            ko.applyBindings(vm);
        });

        $(function() {
            var container = $(".statusMessages");
            function updateHeight() {
                container.height($(window).height() - 200);
            }

            $(window).resize(updateHeight);
            updateHeight();
        });
    </script>
}