<div id="createBrewery" data-bind="with: brewery, visible: brewery.createVisible">
    <div data-bind="with: newBrewery">
        <label for="createBrewery_name">Name:</label>
        <input id="createBrewery_name" type="text" data-bind="value: name"/>
        <label for="createBrewery_city">City:</label>
        <input id="createBrewery_city" type="text" data-bind="value: city"/>
        <label for="createBrewery_state">State:</label>
        <input id="createBrewery_state" type="text" data-bind="value: state"/>
        <input type="button" data-bind="click: $parent.save" value="Save"/>
    </div>
</div>
