@{
    
}

<header>
    <h1>Pourcast</h1>
    <h2 data-bind="text: brewery.name"></h2>
    <p data-bind="text : brewery.location"></p>
    <ul data-bind="foreach: brewery.breweries">
        <li>
            <span data-bind="text: name"></span> <span data-bind="text: location"></span>
        </li>
    </ul>
</header>

@Html.Partial("_CreateBrewery")

<input type="button" data-bind="click: brewery.create" value="Create Brewery"/>

@section scripts {
    <script type="text/javascript">
        $(function () {
            pourcast.events.on("beerPoured", function (e) {
                toastr.success(e.PercentRemaining);
            });
        });
    </script>
}
