<div class="taps" data-bind="with: tapViewModel">
    <div data-bind="foreach: taps">
        <div class="tap">
            <!-- ko if: keg -->
            <!-- ko with: keg  -->
            @Html.Partial("Keg")
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</div>