@{
    
}

@*<header>
    <h1>Pourcast</h1>
    <h2 data-bind="text: brewery.name"></h2>
    <p data-bind="text : brewery.location"></p>
    <ul data-bind="foreach: brewery.breweries">
        <li>
            <span data-bind="text: name"></span> <span data-bind="text: location"></span>
        </li>
    </ul>
</header>

@Html.Partial("_CreateBrewery")

<input type="button" data-bind="click: brewery.create" value="Create Brewery"/>*@


<div class="container">
    <div id="splitlayout" class="splitlayout">
            <div class="side side-left" style="background: #f0c030; outline: 1px solid #f0c030;">
                <div class="intro-content">
                    <div class="profile">
                        <div class="beerlvl" style="height: 35%; background: #f0c030;"></div>
                        <img src="~/Content/themes/base/images/keg.png" alt="kegLeft" /></div>
                    <h1><span>Keg Left</span><span>Beer Distributor</span></h1>
                </div>
            </div>
            <div class="side side-right" style="background: #a84800; outline: 1px solid #a84800;">
                <div class="intro-content">
                    <div class="profile">
                        <div class="beerlvl" style="height: 78%; background: #a84800;"></div>
                        <img src="~/Content/themes/base/images/keg.png" alt="kegRight" /></div>
                    <h1><span>Keg Right</span><span>Beer Distributor</span></h1>
                </div>
            </div>
    </div>
    <!-- /splitlayout -->
</div><!-- /container -->



@section scripts {
    <script type="text/javascript">
        $(function () {
            
            pourcast.events.on("beerPoured", function (e) {
                toastr.success(e.PercentRemaining);
            });
            pourcast.events.on("beerPoured", function (e) {
                toastr.success(e.Volume);
            });
        });
    </script>
}
