<div class="side Wheat">
    <div class="intro-content">
        <div class="profile">
            <div class="beerlvl" style="height: 35%;"></div>
            <img class="keg" src="~/Content/themes/base/images/keg.png" alt="kegLeft" />
            <img class="face" src="~/Content/themes/base/images/face-happy.png"/>
        </div>
        <h1><span>Keg Left</span><span>Beer Distributor</span></h1>
    </div>
</div>