<div class="side Wheat">
    <div class="intro-content">
        <div class="remaining">
            <i class="fa fa-comment-o"></i>
            <span class="percent">85%</span>
        </div>
        
        <div class="profile">
            <div class="beerlvl" style="height: 85%;"></div>
            <img class="keg" src="~/Content/themes/base/images/keg.png" alt="kegLeft" />
            <img class="face" src="~/Content/themes/base/images/face-happy.png"/>
        </div>
        <h1 class="beer">Beer Name</h1>
        <h1>
            <span class="brewery">Brewery</span><span class="location">Location</span>
        </h1>
        <div class="style">Beer Style</div>
    </div>
</div>