<!-- ko with: model  -->
<div class="keg-info side" style="display: none" data-bind="visible: true">
    <!-- ko foreach: $parent.backgroundComponents -->
    <!-- ko component: $data -->
    <!-- /ko -->
    <!-- /ko -->

    <div class="status">
        <!-- ko component: $parent.statusMarkerComponent -->
        <!-- /ko -->

        <div class="profile">
            <div class="beer-level" data-bind="style: { height: percentRemainingStyle, background: beer().style().color }"></div>
            <div class="keg">
                <img class="body" src="/Content/themes/base/images/keg.png" />

                <!-- ko ifnot: isLow -->
                <img class="face" src="/Content/themes/base/images/face-happy.png" data-bind="ifnot: isLow" />
                <!-- /ko -->
                <!-- ko if: isLow -->
                <img class="face" src="/Content/themes/base/images/face-sad.png" data-bind="if: isLow" />
                <!-- /ko -->
            </div>
            <img class="ring" src="/Content/themes/base/images/ring.png">
        </div>
    </div>

    <!-- ko foreach: $parent.beerComponents -->
    <!-- ko component: $data -->
    <!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->
