@model RightpointLabs.Pourcast.Web.Areas.Admin.Models.OnTapKeg

<div>
    <h4>@Model.Beer.Name</h4>
    <hr />
    <ul>
        <li>Amount Remaining: @Model.Keg.AmountOfBeerRemaining</li>
        <li>Percent Remaining: @Model.Keg.PercentRemaining</li>
        <li>Amount Poured: @Model.Keg.AmountOfBeerPoured</li>
    </ul>
</div>