<img style="z-index: 2; position: absolute; width: 58%; top: 25%; right: -25%; -moz-animation: borat-flag 10s; -o-animation: borat-flag 10s; -webkit-animation: borat-flag 10s; animation: borat-flag 10s; -moz-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -moz-transform-origin: 10% 90%; -ms-transform-origin: 10% 90%; -o-transform-origin: 10% 90%; -webkit-transform-origin: 10% 90%; transform-origin: 10% 90%; " src="/Scripts/app/components/borat-flag/borat_flag.png" />

<style>
    @-webkit-keyframes borat-flag {
    0% {
        -webkit-transform: rotate(0deg);
    }
    3% {
        -webkit-transform: rotate(-10deg);
    }
    6% {
        -webkit-transform: rotate(15deg);
    }
    9% {
        -webkit-transform: rotate(-5deg);
    }
    12% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
} 
</style>