<div class="keg-info side" style="display: none" data-bind="bubbles: {}, visible: true">
    <div class="background" data-bind="style: { background: beer().style().color }">
        <div class="shade"></div>
        <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden;"
             data-bind="bubbles: { minBubbleCount: 20, maxBubbleCount: 50, minBubbleSize: 6, maxBubbleSize: 12, maxWaitTime: 1, minRiseTime: 1.5, maxRiseTime: 4}, visible: isPouring">
        </div>
    </div>

    <div class="status">
        <div class="bits">
            <!-- ko manyComponents: { key: 'bits', model: keg } -->
            <!-- /ko -->
        </div>

        <div class="profile">
            <div class="ring">
                <div class="beer-level" data-bind="style: { height: beerHeight, background: beer().style().color }"></div>

                <!-- ko manyComponents: { key: 'behindKeg', model: keg } -->
                <!-- /ko -->

                <div class="keg">
                    <!-- ko oneComponent: { key: 'kegBody', model: keg } -->
                    <!-- /ko -->

                    <!-- ko oneComponent: { key: 'face', model: keg } -->
                    <!-- /ko -->
                </div>
                
                <!-- ko manyComponents: { key: 'inFrontOfKeg', model: keg } -->
                <!-- /ko -->
            </div>

            <img class="border" src="/Content/themes/base/images/ring.png">
            
            <!-- ko manyComponents: { key: 'outsideRing', model: keg } -->
            <!-- /ko -->
        </div>
    </div>

    <!-- ko oneComponent: { key: 'beer', model: beer } -->
    <!-- /ko -->
</div>