<div class="keg-info side" style="display: none" data-bind="bubbles: {}, visible: true">
    <div class="background" data-bind="style: { background: beer().style.color }">
        <div class="shade"></div>
        <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden;"
             data-bind="bubbles: { minBubbleCount: 20, maxBubbleCount: 50, minBubbleSize: 6, maxBubbleSize: 12, maxWaitTime: 1, minRiseTime: 1.5, maxRiseTime: 4}, visible: isPouring">
        </div>
    </div>

    <div class="status">
        <div class="bits">
            <!-- ko manyComponents: 'bits' -->
            <!-- /ko -->
        </div>

        <div class="profile">
            <div class="ring">
                <div class="beer-level" data-bind="style: { height: percentRemainingStyle, background: beer().style.color }"></div>

                <!-- ko manyComponents: 'behindKeg' -->
                <!-- /ko -->

                <div class="keg">
                    <!-- ko oneComponent: 'kegBody' -->
                    <!-- /ko -->

                    <!-- ko oneComponent: 'face' -->
                    <!-- /ko -->
                </div>
                
                <!-- ko manyComponents: 'inFrontOfKeg' -->
                <!-- /ko -->

            </div>

            <img class="border" src="/Content/themes/base/images/ring.png">
            
            <!-- ko manyComponents: 'outsideRing' -->
            <!-- /ko -->
        </div>
    </div>

    <!-- ko with: beer -->
    <!-- ko oneComponent: 'beer' -->
    <!-- /ko -->
    <!-- /ko -->
</div>