<?xml version="1.0" encoding="utf-8" ?>
<!--
  Configuration syntax: http://logging.apache.org/log4net/release/manual/configuration.html ('Configuration Syntax' section)
  Output pattern format specifier details: http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html
-->
<log4net debug="false">
  <root>
    <level value="DEBUG" />

    <appender-ref ref="LogFileAppender" />
  </root>

  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%identity] [%-5t] %-5p %c - %m%n" />
    </layout>
  </appender>

  <!-- Log all messages received to the trace stream (shows in VS.NET output window) -->
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <Threshold value="DEBUG" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p [%t]: %m%n" />
    </layout>
  </appender>
</log4net>
