@model RightpointLabs.Pourcast.Web.Areas.Admin.Models.BeerIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Select a Beer or Brewery</h2>
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Select a Beer</label>
        <div class="col-md-10">
            @Html.DropDownListFor(a => a.BeerId, Model.Beers, new { @class = "dropdown", id = "beerList" })
            <button id="btnBeer" class="btn">View Beer</button>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Select a Brewery</label>
        <div class="col-md-10"> 
            @Html.DropDownListFor(a => a.BreweryId, Model.Breweries, new{@class= "dropdown", id = "breweryList"})
            <button id="btnBrewery" class="btn">View Beers</button>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('#btnBeer').on('click', function() {
                window.location = '@Url.Action("Details", "Beer")/' + $('#beerList :selected').val();
            });
            $('#btnBrewery').on('click', function() {
                window.location = '@Url.Action("Details", "Brewery")/' + $('#breweryList :selected').val();
            });
        });
    </script>
}
