/* variables */
/* media query variables*/
body {
  font-size: 14px;
  font-family: "proxima-nova", Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  body {
    font-size: 10px;
  }
}
@media only screen and (max-width: 529px) {
  body {
    font-size: 8px;
  }
}
footer {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  display: none;
  /*fuck your footer*/
}
.foam {
  height: 12vmin;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.foam .foam-bubbles {
  height: 5vmin;
  position: absolute;
  margin: auto;
  bottom: 2vmin;
}
.foam .foam-bubbles.left {
  left: 2vmin;
}
.foam .foam-bubbles.right {
  right: 2vmin;
}
.foam .ribbon {
  position: absolute;
  margin: 0 auto;
  display: block;
  width: 14vmin;
  left: 0;
  right: 0;
}
/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
  max-width: 280px;
}
/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}
.field-validation-valid {
  display: none;
}
input.input-validation-error {
  border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
  border: 0 none;
}
.validation-summary-errors {
  color: #b94a48;
}
.validation-summary-valid {
  display: none;
}
html,
body,
.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.taps {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.tap {
  position: relative;
  top: 0;
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.tap .keg-info {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}
.tap .keg-info .background {
  height: 100%;
  position: absolute;
  width: 100%;
}
.tap .keg-info .background .shade {
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: .25;
}
.tap .keg-info .status {
  padding-top: 31vmin;
  position: relative;
  z-index: 2;
}
.tap .keg-info .status .bits {
  height: 30vmin;
  position: absolute;
  width: 100%;
}
.tap .keg-info .status .bits .bit {
  position: absolute;
  display: block;
  left: 0;
  margin: auto;
  right: 0;
  bottom: 0;
  top: 0;
  -moz-transform: rotate(45deg) translateY(-220%) rotate(-45deg);
  -ms-transform: rotate(45deg) translateY(-220%) rotate(-45deg);
  -o-transform: rotate(45deg) translateY(-220%) rotate(-45deg);
  -webkit-transform: rotate(45deg) translateY(-220%) rotate(-45deg);
  transform: rotate(45deg) translateY(-220%) rotate(-45deg);
}
@media only screen and (max-width: 529px) {
  .tap .keg-info .status .bits .bit {
    -moz-transform: translateY(-220%) rotate(-45deg);
    -ms-transform: translateY(-220%) rotate(-45deg);
    -o-transform: translateY(-220%) rotate(-45deg);
    -webkit-transform: translateY(-220%) rotate(-45deg);
    transform: translateY(-220%) rotate(-45deg);
  }
}
.tap .keg-info .status .bits .bit .inner-contents {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 529px) {
  .tap .keg-info .status .bits .bit .inner-contents {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.tap .keg-info .status .bits .remaining {
  height: 11vmin;
  width: 11vmin;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
.tap .keg-info .status .bits .remaining .percent {
  position: absolute;
  width: 100%;
  line-height: 100%;
  margin: auto;
  right: 0;
  left: 0;
  font-size: 3vmin;
  font-weight: bold;
  bottom: 0;
  top: 0;
  height: 3vmin;
}
.tap .keg-info .status .bits .remaining .percent .symbol {
  font-size: .5em;
  position: relative;
  top: -0.6em;
}
.tap .keg-info .status .bits .remaining.high {
  background-image: url('/Content/themes/base/images/bubble-green.png');
}
.tap .keg-info .status .bits .remaining.low {
  background-image: url('/Content/themes/base/images/bubble-red.png');
}
.tap .keg-info .status .profile {
  width: 30vmin;
  height: 30vmin;
  margin: 0 auto;
  position: relative;
  clear: both;
}
.tap .keg-info .status .profile .ring {
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  z-index: 0;
}
.tap .keg-info .status .profile .ring > div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tap .keg-info .status .profile .ring .keg {
  width: 64%;
  height: 79%;
  display: block;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
}
.tap .keg-info .status .profile .ring .keg .body {
  width: 100%;
  height: 100%;
  position: relative;
}
.tap .keg-info .status .profile .ring .keg .face {
  height: 15%;
  width: 26%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tap .keg-info .status .profile .ring .keg .face img {
  width: 100%;
}
.tap .keg-info .status .profile .ring .beer-level {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.tap .keg-info .status .profile .border {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.tap .keg-info .beer {
  margin: 2vw;
  position: relative;
  z-index: 2;
}
.tap .keg-info .beer h1.name {
  font-weight: bold;
  font-size: 3em;
}
.tap .keg-info .beer h1.brewery {
  letter-spacing: 1px;
  font-size: 1.5em;
  margin-top: .8em;
}
.accessories {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
}
.taps .tap:nth-child(odd) .keg-info .status .bits .bit {
  -moz-transform: rotate(-45deg) translateY(-220%) rotate(-45deg);
  -ms-transform: rotate(-45deg) translateY(-220%) rotate(-45deg);
  -o-transform: rotate(-45deg) translateY(-220%) rotate(-45deg);
  -webkit-transform: rotate(-45deg) translateY(-220%) rotate(-45deg);
  transform: rotate(-45deg) translateY(-220%) rotate(-45deg);
}
@media only screen and (max-width: 529px) {
  .taps .tap:nth-child(odd) .keg-info .status .bits .bit {
    -moz-transform: translateY(-220%) rotate(-45deg);
    -ms-transform: translateY(-220%) rotate(-45deg);
    -o-transform: translateY(-220%) rotate(-45deg);
    -webkit-transform: translateY(-220%) rotate(-45deg);
    transform: translateY(-220%) rotate(-45deg);
  }
}
.taps .tap:nth-child(odd) .keg-info .status .bits .bit .inner-contents {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media only screen and (max-width: 529px) {
  .taps .tap:nth-child(odd) .keg-info .status .bits .bit .inner-contents {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.style {
  margin-top: 30px;
}
.style span {
  font-size: 1.5em;
  text-transform: uppercase;
  border: 3px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  padding: 8px 17px;
  border-radius: 50px;
  font-weight: bold;
  display: inline-block;
}
@media only screen and (max-width: 529px) {
  .style span {
    border-width: 2px;
  }
}
.side-right .intro-content h1 > span:nth-child(2):before {
  background: #fff;
}
