/* variables */
@foam-height: 12vmin;
@profile-diameter: 30vmin;

/* media query variables*/
@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop: ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-md: ~"only screen and (min-width: 1129px) and (max-width: 1349px)";
@desktop-xl: ~"only screen and (min-width: 1350px)";


body {
    font-size: 14px;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif;

    @media @tablet {
        font-size: 10px;
    }

    @media @mobile {
        font-size: 8px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    display: none; /*fuck your footer*/
}

.foam {
    height: @foam-height;
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 2;

    .foam-bubbles {
        height: 5vmin;
        position: absolute;
        margin: auto;
        bottom: 2vmin;
    }

    .foam-bubbles.left {
        left: 2vmin;
    }

    .foam-bubbles.right {
        right: 2vmin;
    }

    .ribbon {
        position: absolute;
        margin: 0 auto;
        display: block;
        width: 14vmin;
        left: 0;
        right: 0;
    }
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

html, body,
.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.taps {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.tap {
    position: relative;
    top: 0;
    float: left;
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;

    .keg-info {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;

        .background {
            height: 100%;
            position: fixed;
            width: 50%;

            .shade {
                background: #fff;
                width: 100%;
                height: 100%;
                opacity: .25;
            }
        }

        .status {
            padding-top: 19vmin + @foam-height;
            position: relative;
            z-index: 2;

            .bits {
                height: 30vmin;
                position: absolute;
                width: 100%;

                .bit {
                    position: absolute;
                    display: block;
                    left: 0;
                    margin: auto;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    -moz-transform: rotate(45deg) translateY(-220%) rotate(-45deg);
                    -ms-transform: rotate(45deg) translateY(-220%) rotate(-45deg);
                    -o-transform: rotate(45deg) translateY(-220%) rotate(-45deg);
                    -webkit-transform: rotate(45deg) translateY(-220%) rotate(-45deg);
                    transform: rotate(45deg) translateY(-220%) rotate(-45deg);

                    @media @mobile {
                        -moz-transform: translateY(-220%) rotate(-45deg);
                        -ms-transform: translateY(-220%) rotate(-45deg);
                        -o-transform: translateY(-220%) rotate(-45deg);
                        -webkit-transform: translateY(-220%) rotate(-45deg);
                        transform: translateY(-220%) rotate(-45deg);
                    }

                    .inner-contents {
                        width: 100%;
                        height: 100%;

                        @media @mobile {
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -o-transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }

                .remaining {
                    @diameter: 11vmin;
                    height: @diameter;
                    width: @diameter;
                    -moz-background-size: contain;
                    -webkit-background-size: contain;
                    background-size: contain;
                    background-repeat: no-repeat;

                    .percent {
                        position: absolute;
                        width: 100%;
                        line-height: 100%;
                        margin: auto;
                        right: 0;
                        left: 0;
                        font-size: 3vmin;
                        font-weight: bold;
                        bottom: 0;
                        top: 0;
                        height: 3vmin;

                        .symbol {
                            font-size: .5em;
                            position: relative;
                            top: -.6em;
                        }
                    }
                }

                .remaining.high {
                    background-image: url('/Content/themes/base/images/bubble-green.png');
                }

                .remaining.low {
                    background-image: url('/Content/themes/base/images/bubble-red.png');
                }
            }

            .profile {
                width: @profile-diameter;
                height: @profile-diameter;
                border-radius: 50%;
                margin: 0 auto;
                background: #fff;
                //border: 4px solid #fff;
                position: relative;
                overflow: hidden;
                clear: both;

                .ring {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    margin: auto;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }

                .keg {
                    width: 64%;
                    height: 79%;
                    display: block;
                    position: absolute;
                    margin: auto;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    .body {
                        width: 100%;
                        height: 100%;
                        position: relative;
                    }

                    .face {
                        height: 15%;
                        width: 26%;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }

                .beer-level {
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        .beer {
            margin: 2vw;
            position: relative;
            z-index: 2;

            h1.name {
                font-weight: bold;
                font-size: 3em;
            }

            h1.brewery {
                letter-spacing: 1px;
                font-size: 1.5em;
                margin-top: .8em;
            }
        }
    }
}

.taps .tap:nth-child(odd) .keg-info .status .bits .bit {
    -moz-transform: rotate(-45deg) translateY(-220%) rotate(-45deg);
    -ms-transform: rotate(-45deg) translateY(-220%) rotate(-45deg);
    -o-transform: rotate(-45deg) translateY(-220%) rotate(-45deg);
    -webkit-transform: rotate(-45deg) translateY(-220%) rotate(-45deg);
    transform: rotate(-45deg) translateY(-220%) rotate(-45deg);

    @media @mobile {
        -moz-transform: translateY(-220%) rotate(-45deg);
        -ms-transform: translateY(-220%) rotate(-45deg);
        -o-transform: translateY(-220%) rotate(-45deg);
        -webkit-transform: translateY(-220%) rotate(-45deg);
        transform: translateY(-220%) rotate(-45deg);
    }

    .inner-contents {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);

        @media @mobile {
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}


.style {
    margin-top: 30px;

    span {
        font-size: 1.5em;
        text-transform: uppercase;
        border: 3px solid rgba(255,255,255,.3);
        margin: 0 auto;
        padding: 8px 17px;
        border-radius: 50px;
        font-weight: bold;
        display: inline-block;

        @media @mobile {
            border-width: 2px;
        }
    }
}


.side-right .intro-content h1 > span:nth-child(2):before {
    background: #fff;
}
