<script type="text/html" id="tap-template">
    <div class="tap">
        <!-- ko if: keg -->
            <!-- ko template: { name: 'keg-template', data: keg } -->
            <!-- /ko -->
        <!-- /ko -->
    </div>
</script>