<div class="accessories" data-bind="foreach: accessories">
    <script type="text/html" data-bind="attr: { id: id }, html: template">
    </script>

    <!-- ko if: isActive -->
    <div class="accessory" data-bind="template: id"></div>
    <!-- /ko -->
</div>