<div class="background" data-bind="style: { background: beer().style().color }">
    <div class="shade"></div>
    <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden;"
         data-bind="bubbles: { minBubbleCount: 20, maxBubbleCount: 50, minBubbleSize: 6, maxBubbleSize: 12, maxWaitTime: 1, minRiseTime: 1.5, maxRiseTime: 4}, visible: isPouring">
    </div>
</div>