<div class="beer" data-bind="with: beer">
    <h1 class="name" data-bind="text: name"></h1>

    <h1 class="brewery" data-bind="with: brewery">
        <span data-bind="text: name"></span>  •  <span class="location" data-bind="text: location">Location</span>
    </h1>

    <div class="style"><span data-bind="text: style().name"></span></div>
</div>
