@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Repourter Tests</h2>
<div id="log"></div>

@section scripts {
    <script>
        require(['app/events'], function(events) {
            events.on("StartPour", function (e) {
                $("#log").append($("<div/>").text("StartPour:" + JSON.stringify(e)));
            });
            events.on("StopPour", function (e) {
                $("#log").append($("<div/>").text("StopPour:" + JSON.stringify(e)));
            });
        });
    </script>
}