<div id="createBeer" role="form" class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label for="createBeer_beerName">Name</label>
            <input type="text" class="form-control validation-summary-errors" id="createBeer_beerName" placeholder="Beer Name" />
        </div>
        <div class="form-group">
            <label for="createBeer_breweryName">Brewery</label>
            <input type="text" class="form-control" id="createBeer_breweryName" placeholder="Brewery Name" />
        </div>
        <button type="submit" class="btn btn-default">Create Beer</button>
    </div>
</div>
