
@{
    ViewBag.Title = "Index";
}

<<<<<<< HEAD
<<<<<<< HEAD
<h2>Index</h2>
=======
<h2>Index</h2>

<<<<<<< HEAD
>>>>>>> Added Admin Area
=======
@Html.Partial("_CreateBeer")
>>>>>>> Adding create beer files
=======
<h2>Index</h2>
>>>>>>> Can create brewery.
